page-home {
    $font-raleway: 'Raleway', sans-serif;
    $font-rubik: 'Rubik', sans-serif;
    $font-krub: 'Krub', sans-serif;

    $color1: map-get($colors, color1);
    $color2: map-get($colors, color2);
    $color3: map-get($colors, color3);
    $color4: map-get($colors, color4);
    $color5: map-get($colors, color5);
    $color6: map-get($colors, color6);
    $color7: map-get($colors, color7);
    $secondary: map-get($colors, secondary);
    $white: #FFFFFF;
    $light: #EBEBEB;
    $tomato: #C42C34;

    font-family: $font-raleway;

    ion-content {

        background-color: $color7 !important;
        .slider-header {
            height: 23em;
            background-color: $tomato;
            // background-image: linear-gradient(-135deg, $tomato, #111);
            padding: 2em 0em 1.5em 1.5em;

            .header {
                position: relative;
                display: block;
                color: $white;

                font-weight: 900;
                font-size: 1.5em;

                .menu {
                    margin-right: 1.5em;

                    ion-icon {
                        font-size: 2em;
                    }
                }
                .title {
                    position: absolute;
                    top: .3em;
                    font-size: 1.1em;
                }
            }


            .body {
                padding-top: 1em;

                ion-slide {
                    padding-right: .3em;

                    ion-card {
                        margin-left: 0;
                        border-radius: 1.5em;
                        position: relative;

                        img {
                            width: 100%;
                            height: 20em;
                            object-fit: cover;
                        }

                        ion-card {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 1em;
                            margin: auto;
                            width: 90%;
                            padding: 1em;
                            text-align: left;
                            background-color: $white !important;

                            .c-title {
                                display: block;
                                padding-bottom: .5em;

                                font-size: 1.3em;
                                font-weight: 700;
                            }

                            .c-rate {
                                display: block;
                                padding-bottom: .5em;
                                font-weight: 600;

                                .icons {
                                    margin-right: 1em;
                                    color: $tomato;
                                }

                                .reviews {
                                    color: $tomato;

                                    font-family: $font-krub;
                                    font-size: .8em;

                                    span {
                                        padding-left: 1em;
                                        color: $color3;
                                    }
                                }
                            }

                            .c-footer {
                                font-size: .9em;

                                ion-col {
                                    padding: 0;
                                    color: $color5;

                                    font-family: $font-krub;
                                    font-weight: 600;

                                    ion-icon {
                                        color: $color3;
                                        padding-right: .5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .slider-menu {
            margin-top: 2em;
            padding: 3em 0em 1.5em 1.5em;

            .menu {
                font-size: .7em;
                font-weight: 500;
                text-align: center;
                // border: 1px solid tomato;

                img {
                    padding: .5em;
                    width: 100% !important;
                    display: block;
                    border-radius: 1.5em;
                }
            }
        }

        .clearfix {
            border-bottom: 1px solid $light;
            margin: 0 1.5em;
        }

        .list {
            padding: 1.5em 1.5em 2em 1.5em;

            .list-header {
                margin-bottom: 1.5em;

                color: $tomato;
                font-weight: 500;
                font-family: $font-rubik;
                span {
                    margin-left: 1em;
                    color: $color4;

                    font-size: .8em;
                    font-family: $font-krub;
                }

            }

            .list-body {
                ion-card {
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 1em;
                    padding: .5em;
                    width: 100%;

                    ion-row {

                        ion-col {

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .header {
                                font-weight: 600;

                                span {
                                    display: block;
                                    margin-top: .5em;

                                    font-size: .8em;
                                    font-weight: 400;
                                }
                            }

                            ion-row {
                                margin-top: 1.8em;

                                font-family: $font-krub;
                                font-size: .75em;
                                ion-icon {
                                    color: $color3;
                                    margin-right: .5em;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}
